<div id="header" class="default width100 fullHeight">
    <div class="width100">
        <div class="width1000">
            <div id="topNav"></div>

            <div class="clear"></div>

            <div id="logoBig"><h1>{{ site.title }} - {{ site.tagline }}</h1></div>

            <div class="clear"></div>

            {{ content }}

            <div class="clear"></div>

            <div id="credits" class="default">
                Copyright <a href="index.html">{{ site.author.name }} &copy; {{ site.time | date: "%Y" }}</a>

                <div class="clear"></div>

                <ul class="footerSoc">
                    <li><a href="https://twitter.com/#!/neo4j" title="Follow Us on Twitter" class="twitter">Follow Us on Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
